table  {
    border-collapse: collapse;
    border: 2px black solid;
    font: 12px sans-serif;
    text-transform: uppercase;
    padding: 10px;
        
  }
  
  td {
    border: 1px black solid;
    padding: 5px;
  }
  